:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* All custom classes */

.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.page-wrapper {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}

.page-wrapper_flex-end {
  justify-content: flex-end; /* Aligns items at the bottom */
}

.page-wrapper_flex-start {
  justify-content: flex-start;
}

.custom-button {
  background-color: #fff !important;
  color: #636363 !important;        
  border-radius: 10px !important;   
  height: 40px;          
  box-shadow: none !important;
  border: 1px solid #636363 !important;
  text-transform: none !important;
  padding: 6px 16px !important;
  min-width: 30px;
  font-size: 0.875rem;                    
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
}

.custom-button:hover {
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: none !important;
  border: 1px solid #f5f5f5 !important;
}

.custom-button:focus {
  outline: none;  /* removes default focus ring if needed */
}

.ml-20 {
  margin-left: 20px !important;
}

.align-heading {
  align-items: center;
}

.ml-auto {
  margin-left: auto !important;
}

.pl-5 {
  padding-left: 5px;
}

.conversations-container {
  overflow-y: auto;
  margin-bottom: 16px; /* mb: 2 translates to 2 * 8px (default spacing in MUI theme) */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.load-conversations {
  margin: 80px;
}
